<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-3">
  <h1>{{ pageTitle }}</h1>

  <p *ngIf="status != 'success'">Regístrate para poder crear entradas mucho más !!!</p>

  <!-- mostrar mensajes de exito o error en la petición  -->
  <div class="alert alert-success" *ngIf="status == 'success'">
    El registro se ha completado correctamente, <a [routerLink]="['/login']">Ya puedes acceder</a>
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    El registro no se ha completado correctamente.
  </div>

  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <div class="form-group">
      <label for="name">Nombre</label>
      <!-- <input type="text" class="form-control" id="name" name="name" #name="ngModel" [(ngModel)]="user.name" required
        pattern="[a-zA-Z]+"> -->
      <input type="text" class="form-control" id="name" name="name" #name="ngModel" [(ngModel)]="user.name" required
        pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$">

      <!-- /^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$/ -->

      <small class="invalid-feedback d-block" *ngIf="!name.valid && name.touched">El nombre no es válido</small>
    </div>
    <div class="form-group">
      <label for="surname">Apellidos</label>
      <input type="text" class="form-control" id="surname" name="surname" #surname="ngModel" [(ngModel)]="user.surname"
        required pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$">
      <small class="invalid-feedback d-block" *ngIf="!surname.valid && surname.touched">Los apellidos no son
        válido</small>

    </div>
    <div class="form-group">
      <label for="nick">Nick</label>
      <input type="text" class="form-control" id="nick" name="nick" #nick="ngModel" [(ngModel)]="user.nick" required
        pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$">
      <small class="invalid-feedback d-block" *ngIf="!nick.valid && nick.touched">El nick no es válido. Sólo se aceptan
        letras y números</small>

    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="user.email"
        required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      <small class="invalid-feedback d-block" *ngIf="!email.valid && email.touched">El email no es válido</small>

    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" class="form-control" id="password" name="password" #password="ngModel"
        [(ngModel)]="user.password" required>
      <small class="invalid-feedback d-block" *ngIf="!password.valid && password.touched">La contraseña no es
        válida</small>

    </div>
    <!-- <input type="submit" class="btn btn-primary" value="Registrarme" [disabled]="registerForm.invalid" /> -->
    <input type="submit" class="btn btn-primary" value="Registrarme" [disabled]="registerForm.invalid" />
  </form>
</div>
